body {
    font-family: var(--font-style);
    background-color: #1C2A44;
}

h1 {
    color: white
}

p {
    color: white;
    font: 20pt Arial normal;
}

ul {
    margin: 0;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099FFF;
    background-color: #18181B;
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

li:after {
    display: block;
}

li:hover:after {
    transform: scaleX(1);
}